@{
    ViewData["Title"] = "Fichas";
}




<a type="submit" class="btn btn-success float-right" asp-area="" asp-controller="Cliente" asp-action="Agregar">Cargar una ficha nueva</a>
<br>
<h3>Buscar fichas</h3>
<label for="exampleInputEmail1">Filtros:</label>

<form class="form-inline">
    <div class="form-group mb-2">
        <input type="text" class="form-control" id="NombreExtinto" aria-describedby="emailHelp"
            placeholder="Ingrese un nombre:">
    </div>

    <div class="form-group mx-sm-3 mb-2">
        
        <input type="text" class="form-control" id="ApellidoExtinto" aria-describedby="emailHelp"
            placeholder="Ingrese un apellido">
   </div>

    <div class="form-group mx-sm-3 mb-2" >
        
        <input type="date" class="form-control" id="FechaFallecimiento" aria-describedby="emailHelp"
            placeholder="Ingrese una fecha">
   </div>
<br>

</form>
    

<button id="btnSubmit" type="submit" class="btn btn-primary mb-2">Buscar</button>

<br>


<table id="tabla" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre extinto</th>
            <th scope="col">Apellido extinto</th>
            <th scope="col">FechaFallecimiento</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody id="cuerpo-tabla">
    </tbody>
</table>




@section scripts {
<script>

    const limpiarTabla = ()=>{
        var table = document.getElementById("tabla");
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    }

    const renderTabla = (value)=>{
            $("#cuerpo-tabla").append(`<tr>        
                <th scope="row">${value.id}</th>
                 <td>${value.NombreExinto}</td> 
                 <td>${value.ApellidoExtinto}</td> 
                 <td>${value.FechaFallecimiento}</td> 
                <td>
                <button onclick="eliminar(${value.id});" id="btnEliminar"  class="btn btn-danger">Eliminar</button>
                    <a id="btnEditar"  class="btn btn-info" href="/Cliente/Editar?id=${value.id}" >Editar</a>
               </td>
                </tr>`);
    }

    const deleteFicha = (id)=>{
            $.ajax({
                    url: "https://localhost:5001/api/FichaSepelio" + id,
                    method: 'DELETE'
                }).done(function (respuesta) {
                    $.each(respuesta, function (index, value) {
                        renderTabla(value);
                    });
                }).fail(function () {
                    console.log("ERROR!");
                });
    }
    const eliminar = (id) => {
        Swal.fire({
            title: '¿Estás seguro que deseas eliminar este registro?',
            text: "No será capaz de revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Eliminar!',
            cancelButtonText:"Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                
                limpiarTabla();
                deleteFicha(id);
                Swal.fire(
                    '¡Eliminado!',
                    'El registro se eliminó cone éxito.',
                    'success'
                )
            }
        })




    }
    const buscarFichas = (e)=>{
        e.preventDefault();
        limpiarTabla();
        var table = document.getElementById("tabla");
        var NombreExtinto = document.getElementById("NombreExtinto").value;
        var ApellidoExtinto = document.getElementById("ApellidoExtinto").value;
        var FechaFallecimiento = document.getElementById("FechaFallecimiento").value;
        
        $.ajax({
            url: `http://localhost:5001/api/FichaSepelio?NombreExinto=${NombreExinto}&ApellidoExtinto=${ApellidoExtinto}&FechaFallecimiento=${FechaFallecimiento}`,
            method: 'GET'
        }).done(function (respuesta) {
            $.each(respuesta, function (index, value) {
                renderTabla(value);
            });
        }).fail(function () {
            console.log("ERROR!");
        });


    }

    const getTodosLosClientes = ()=>{
        $.ajax({
            url: "https://localhost:5001/api/FichaSepelio",
            method: 'GET'
        }).done(function (respuesta) {
            $.each(respuesta, function (index, value) {
                renderTabla(value);
            });
        }).fail(function () {
            console.log("ERROR!");
        });
    }

    

    $("#btnSubmit").click( (e)=>buscarClientes(e))
    $(document).ready(getTodosLosClientes());
</script>
}